.logo_Octapades_container {
  width: 150px;
  height: 150px;
  margin-top: 40px;
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
}

.logo_Octapades_container:hover .logo_Octapades_holder {
  background-color: rgb(0, 193, 207);
  border-left: 4px solid rgb(0, 160, 172);
  border-bottom: 5px solid rgb(0, 148, 148);
  transition: 0s;
  box-shadow: -3px 4px 8px white;
  transition: 0.5s;
}

.logo_Octapades_holder {
  width: 100px;
  height: 100px;
  background-color: darkgray;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 30%;
  border-left: 4px solid rgb(68, 68, 68);
  border-bottom: 5px solid rgb(51, 51, 51);
  transition: 1s;
  transform: skewY(-15deg) skewX(25deg) rotate(-6deg);
  box-shadow: 3px 4px 8px var(--body-color);
}

.logo_Octapades {
  border-left: 2px solid rgb(114, 114, 114);
  border-bottom: 2px solid rgb(43, 43, 43);
  transition: 1s;
  background-color: rgba(202, 202, 202, 0.719);
  border-radius: 100%;
}

.sl {
  width: 25px;
  height: 25px;
  margin: 2px;
}

.ll {
  width: 40px;
  height: 40px;
  margin: 1;
}

.logo_Octapades:hover{
  background-color: rgba(255, 255, 255, 0.904);
}

.logo_Octapades_container:active .logo_Octapades_holder {
  margin: 4px 5px 0px 0px;
  transition: 0s;
}

@media only screen and (max-width: 450px) {
  .logo_Octapades_container {
    width: 130px;
    height: 130px;
    margin-top: 20px;
  }

  .logo_Octapades_holder {
    width: 80px;
    height: 80px;
  }

  .sl {
    width: 20px;
    height: 20px;
    margin: 2px;
  }

  .ll {
    width: 32px;
    height: 32px;
    margin: 1;
  }
}
