.disk_texture {
  background: repeating-radial-gradient(
    black 1%,
    rgb(65, 65, 65) 1.5%,
    black 2%
  );
  width: 750px;
  height: 750px;
  position: absolute;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -4px 3px 4px rgba(0, 0, 0, 0.692);
}

.center_disk {
  background-color: var(--body_color);
  width: 350px;
  height: 350px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d1 {
  top: -500px;
  left: 800px;
}

.d2 {
  top: -520px;
  left: 930px;
}

.d3 {
  top: -200px;
  left: 1050px;
}

.d4 {
  top: 520px;
  left: 600px;
  transition: 1.5s;
}

.d4:hover {
  top: 200px;
  left: 800px;
  transition: 2s;
}

.d4:hover .disk_text {
  transform: rotate(10deg);
  transition: 2s;
}

.disk_text {
  color: rgb(0, 0, 0);
  transform: rotate(180deg);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 2s;
}

.disk_text h4 {
  position: absolute;
  bottom: -280px;
  left: -0px;
  color: white;
  transform: rotate(195deg);
  text-shadow: 1px 1px 1px rgb(75, 75, 75);
}

.disk_text h3:hover {
  color: white;
}

.disk_text h3:active {
  color: gold;
}

.link_container {
  display: flex;
}

.disk_text a {
  border-radius: 100%;
  margin: 4px;
  border: 1.5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.disk_text a :hover {
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
}

.disk_text a :active {
  background-color: gold;
  border-radius: 100%;
}

.icon {
  height: 30px;
  width: 30px;
  display: block;
  /* color: rgb(65, 65, 65); */
}

.github {
  background: url("./icons/icons8-github-30.png");
}

.linkenIn {
  background: url("./icons/icons8-linkedin-circled-30.png");
}

.codepen {
  height: 32px;
  width: 32px;
  background: url("./icons/icons8-codepen-32.png");
}

.twitter {
  background: url("./icons/icons8-twitter-circled-30.png");
}

.instagram {
  background: url("./icons/icons8-instagram-circle-30.png");
}

@media only screen and (max-width: 450px) {
  .disk_texture {
    width: 120vw;
    height: 120vw;
    left: -9vw;
    top: -20vh;
  }

  .d1,
  .d2,
  .d3 {
    display: none;
  }

  .d4 {
    left: -9.5vw;
    top: 90vh;
    transition: 0.5s;
  }

  .d4:hover {
    left: -9.5vw;
    top: -20vh;
    transition: 1s;
  }

  .d4:hover .disk_text {
    transform: rotate(0deg);
    transition: 1s;
    opacity: 100%;
  }

  .d4:hover h4{
    opacity: 0;
    transition: 0.5s;
  }
/* 
.d4:hover .disk_text h3, .d4:hover .disk_text div{
    transition: 2s;
    opacity: 100%;
  }

  .disk_text h3, .disk_text div{
    transition: 1s;
    opacity: 0%;
  } */

  .disk_text h4 {
    bottom: -200px;
    left: 75px;
    transform: rotate(180deg);
  }
}
