:root {
  /* --audioCubes_body_bg_color: rgb(202, 137, 75); */
  --audioCubes_container_bg_color: rgb(80, 80, 80);
  --audioCubes_tabs_bg_color: rgba(236, 213, 232, 0.692);
  --audioCubes_tabs_shadow_color: rgb(59, 59, 59);
}

.audioCubes_Page_body {
  min-width: 100%;
  min-height: 100vh;
  background-color: var(--light_indicator_color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 1s;
}

.audioCubes_container {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--audioCubes_container_bg_color);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
  border-bottom: 7px solid var(--audioCubes_tabs_shadow_color);
  border-left: 8px solid var(--audioCubes_tabs_shadow_color);
  /* transform: skewY(-15deg) skewX(15deg) rotate(10deg); */
  position: relative;
  box-shadow: -8px 8px 15px rgb(255, 255, 255);
}

.speakers_container {
  width: 98.7%;
  height: 350px;
  position: absolute;
  background-color: rgb(99, 99, 99);
  border-radius: 90px;
  overflow: hidden;
  border-top: 3px solid rgb(90, 90, 90);
}

.audioCubes {
  width: 690px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* top shelf */

.audiocubes_top_shelf {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.audio_top_tabs_holder {
  width: 150px;
  height: 150px;
  background-color: var(--audioCubes_container_bg_color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 10px;
  margin-top: -10px;
  border-left: 3px solid var(--audioCubes_tabs_shadow_color);
  border-bottom: 3px solid var(--audioCubes_tabs_shadow_color);
}

/* mid shelf */

.audiocubes_mid_shelf {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.audio_mid_tabs_holder {
  width: 192px;
  height: 192px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 10px;
  background-color: var(--audioCubes_container_bg_color);
  border-radius: 100%;
  margin-top: -45px;
  border-bottom: 3px solid var(--audioCubes_tabs_shadow_color);
  border-left: 3px solid var(--audioCubes_tabs_shadow_color);
  border-right: 1px solid var(--audioCubes_tabs_shadow_color);
}

/* bottom shelf */

.audiocubes_bottom_shelf {
  width: 660px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 90px;
  padding: 4px;
  margin-top: -30px;
  margin-bottom: 7px;
  background-color: var(--audioCubes_container_bg_color);
  border-bottom: 3px solid var(--audioCubes_tabs_shadow_color);
  border-left: 4px solid var(--audioCubes_tabs_shadow_color);
  border-right: 1px solid var(--audioCubes_tabs_shadow_color);
  z-index: 1;
}

.audiocubes_bottom_shelf div {
  box-shadow: -3px 2px 3px rgb(34, 34, 34);
}

/* mobile phone */

@media only screen and (max-width: 450px) {
  .audioCubes_container {
    /* transform: skewY(-15deg) skewX(15deg) rotate(100deg); */
  }

  .speakers_container {
    display: none;
  }

  .audioCubes {
    width: 75vh;
  }

  .audio_top_tabs_holder {
    width: 50px;
    height: 50px;
    margin-top: -5px;
  }

  .audiocubes_mid_shelf {
    display: none;
  }

  .audiocubes_bottom_shelf {
    display: none;
  }
}
