:root {
  --body_color: rgb(197, 31, 31);
}

html, body {
  min-height: 100%;
  overflow-x: hidden;
    overflow-y: hidden;
}

body {
  background-color: var(--body_color);
  /* background-image: url("./pictures/texture-wood-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}

